@import 'fonts.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --mont-black: 'Montserrat-Black';
    --mont-boldItalic: 'Montserrat-BoldItalic';
    --mont-regular: 'Montserrat-Regular';
    --mont-semiBold: 'Montserrat-SemiBold';
    --primary-color: #7177F1;
    --secondary-color: #fff;
    --black: #323232;
}

body {
    background: var(--secondary-color);
}

/* HEADER START */

.header {
    position: relative;
}

.header__logo::before {
    content: url('../images/logo_light.png');
}


.header__link {
    text-decoration: none;
    color: var(--primary-color);
    text-transform: capitalize;
    font-size: 24px;
    line-height: 16px;
    font-family: var(--mont-regular);
    margin-right: 30px;
}

.header__link:hover {
    color: var(--primary-color);
}

.header__button {
    display: flex;
    color: var(--secondary-color);
    background: var(--primary-color);
    box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
    border-radius: 8px;
    text-decoration: none;
    text-transform: capitalize;
    width: 190px;
    padding: 10px 0;
    justify-content: center;
    font-size: 24px;
    line-height: 16px;
    font-family: var(--mont-regular);
    margin-right: 58px;
}

.header__button:hover {
    color: var(--secondary-color);
}

.header__phone::before {
    content: '\f87b';
}

.header__phone {
    color: var(--primary-color);
    font-size: 25px;
    text-decoration: none;
    font-weight: 300;
}

.header__phone:hover {
    color: var(--primary-color);
}

.header__content-items {
    margin-top: 42px;
    margin-left: 100px;
}

.carousel-indicators [data-bs-target] {
    width: 15px;
    height: 15px;
    border: none;
    border-radius: 50%;
    background: #828282;
}

.carousel-indicators [data-bs-target].active {
    background: var(--primary-color);
}


.header__content-text {
    color: var(--black);
    font-size: 24px;
    line-height: 22px;
    text-transform: capitalize;
    font-family: var(--mont-semiBold);
    margin-bottom: 10px;
}

.header__content-title {
    color: var(--primary-color);
    max-width: 520px;
    width: 100%;
    text-transform: capitalize;
    font-size: 40px;
    line-height: 50px;
    font-family: var(--mont-semiBold);
    margin-bottom: 25px;
}

.header__content-link {
    display: flex;
    background: var(--primary-color);
    box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
    border-radius: 8px;
    color: var(--secondary-color);
    text-decoration: none;
    text-transform: uppercase;
    width: 299px;
    padding: 13px 0;
    justify-content: center;
    font-size: 18px;
    line-height: 20px;
    font-family: var(--mont-regular);
    margin: 0 auto;
}

.header__content-link:hover {
    color: var(--secondary-color);
}


.header__content-skills {
    margin-top: 50px;
}

.header__skill-title {
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    font-family: var(--mont-black);
    margin-top: 15px;
}

.header__toggler::before {
    content: '\f0c9';
}

.header__toggler {
    font-size: 30px;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.rectangle {
    position: absolute;
    border-width: 5px;
    border-style: solid;
    z-index: -1;
}


.rectangle_1 {
    border-color: #790FF1;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    top: 32px;
    left: 245px;
}

.rectangle_2 {
    border-color: #9297EF;
    width: 80px;
    height: 80px;
    top: 92px;
    left: 30px;
    transform: matrix(0.71, 0.71, -0.7, 0.71, 0, 0);
}

.rectangle_3 {
    border-color: #9297EF;
    width: 98px;
    height: 98px;
    top: 82px;
    right: 160px;
}

.rectangle_4 {
    border-color: #7177F1;
    width: 80px;
    height: 80px;
    bottom: 130px;
    right: 240px;
    transform: matrix(0.76, -0.66, 0.64, 0.76, 0, 0);
}

/* HEADER END */

/* MAIN START */

.main__about {
    margin-top: 70px;
    position: relative;
}

.main__about-text {
    color: var(--black);
    text-transform: uppercase;
    background: var(--secondary-color);
    font-size: 18px;
    font-family: var(--mont-regular);
    line-height: 100%;
    box-shadow: 0px 0px 20px rgba(113, 119, 241, 0.5);
    border-radius: 8px;
    padding: 24px 30px 24px 20px;
    left: -100px;
    top: 24px;
}

.main__about-span {
    background: #0FDAC2;
    padding: 11px 9px;
    border-radius: 50%;
    color: var(--secondary-color);
    font-size: 18px;
    line-height: 100%;
    font-family: var(--mont-boldItalic);
    top: -15px;
    right: -15px;
}


.main__about-content {
    background: var(--secondary-color);
    box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
    border-radius: 8px;
    padding: 30px 30px 105px 30px;
}

.main__about-title {
    color: var(--primary-color);
    text-transform: capitalize;
    font-size: 40px;
    line-height: 30px;
    font-family: var(--mont-semiBold);
    margin-bottom: 25px;
}

.main__about-description {
    color: var(--black);
    text-transform: capitalize;
    font-size: 18px;
    line-height: 150%;
    font-family: var(--mont-regular);
}

.main__about-btn {
    display: flex;
    background: var(--primary-color);
    box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
    border-radius: 8px;
    width: 190px;
    padding: 14px 0;
    text-decoration: none;
    color: var(--secondary-color);
    text-transform: uppercase;
    font-size: 18px;
    line-height: 100%;
    font-family: var(--mont-regular);
    justify-content: center;
    margin-left: 80px;
}

.main__about-btn:hover {
    color: var(--secondary-color);
}

.shape {
    position: absolute;
    z-index: -1;
}

.shape_1 {
    right: 0;
    top: -500px;
}

.rectangle_5 {
    border-color: #9297EF;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    right: 115px;
    bottom: 70px;
}


.capabilities {
    margin-top: 75px;
    position: relative;
}

.capabilities__title {
    color: var(--primary-color);
    text-transform: capitalize;
    text-align: center;
    font-size: 40px;
    line-height: 49px;
    font-family: var(--mont-semiBold);
    margin-bottom: 30px;
}


.accordion {
    box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
    border-radius: 8px 8px 8px 8px;
    background: var(--secondary-color);
    margin-top: 70px;
}

.accordion-button::after {
    display: none;
}

.accordion__arrow::before {
    content: '\f0de';
    font-weight: 900;
    font-size: 30px;
}


.accordion__logo {
    width: 30px;
    height: 100%;
    margin-right: 20px;
}

.accordion__info {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 22px;
    font-family: var(--mont-black);
}

.accordion-button {
    box-shadow: none !important;
    outline: none;
    border: none;
    background: var(--primary-color) !important;
    color: var(--secondary-color) !important;
}


.accordion-button.collapsed {
    background: var(--secondary-color) !important;
    color: var(--primary-color) !important;
}

.accordion-body {
    color: var(--secondary-color);
    background: var(--primary-color);
    font-size: 18px;
    line-height: 150%;
    text-transform: capitalize;
    font-family: var(--mont-regular);
}


.accordion__arrow {
    transform: rotate(180deg);
}

.collapsed .accordion__arrow {
    transform: rotate(0deg);
}

.rectangle_6 {
    border-color: #9297EF;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    top: 100px;
    left: 340px;
}

.main__works {
    margin-top: 75px;
    position: relative;
}

.main__works-title {
    color: var(--primary-color);
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    text-transform: capitalize;
    font-family: var(--mont-semiBold);
    margin-bottom: 30px;
}


.main__works-link {
    display: flex;
    background: var(--secondary-color);
    width: 100%;
    color: var(--primary-color);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 22px;
    font-family: var(--mont-semiBold);
    padding: 19px 0 19px 20px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.35);
}

.main__works-item:first-child .main__works-link {
    border-radius: 8px 8px 0px 0px;
}

.main__works-item:last-child .main__works-link {
    border-radius: 0px 0px 8px 8px;
}

.main__works-link:hover {
    color: var(--primary-color);
}

.main__works-link.active {
    background: var(--primary-color);
    color: var(--secondary-color);
}

.main__works-content {
    box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
    border-radius: 8px;
    background: var(--secondary-color);
    padding: 20px 30px 20px 20px;
    min-height: 360px;
}

.main__works-img {
    object-fit: cover;
    max-height: 320px;
}

.main__works-name {
    font-size: 24px;
    line-height: 29px;
    text-transform: capitalize;
    color: var(--primary-color);
    margin-bottom: 17px;
    font-family: var(--mont-semiBold);
}

.main__works-description {
    color: var(--black);
    font-size: 18px;
    line-height: 150%;
    font-family: var(--mont-regular);
    text-transform: capitalize;
}

.main__works-btn {
    display: flex;
    background: var(--primary-color);
    color: var(--secondary-color);
    text-decoration: none;
    box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
    border-radius: 8px;
    width: 190px;
    text-transform: capitalize;
    justify-content: center;
    font-size: 18px;
    line-height: 22px;
    font-family: var(--mont-semiBold);
    padding: 12px 0;
    margin-left: 30px;
}

.main__works-btn:hover {
    color: var(--secondary-color);
}


.shape_2 {
    left: 0;
    top: -210px;
}

.rectangle_7{
    border-color: #7177F1;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    bottom: 80px;
    left: 80px;
    z-index: -2;
}

.rectangle_8 {
    border-color: #790FF1;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    bottom: -100px;
    left: 55%;
}

.rectangle_9 {
    border-color:#7177F1;
    width: 98px;
    height: 98px;
    bottom: 65px;
    transform: matrix(0.76, 0.65, 0.65, -0.76, 0, 0);
    right: 90px;
}

/* MAIN END */

/* FOOTER START */

.footer {
    margin-top: 220px;
    padding-bottom: 133px;
}

.footer__link, .footer__contact {
    display: inline-block;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 24px;
    line-height: 29px;
    font-family: var(--mont-regular);
    color: var(--primary-color);
}

.footer__link:hover {
    color: var(--primary-color);
}

.footer__link li:last-child .footer__link {
    text-decoration: underline;
}

.rectangle_10 {
    border-color: #790FF1;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    left: 125px;
}

/* FOOTER END */